{% extends 'base.html' %} 
{%load static%} 

{% block title %}
{{post.title}}
{% endblock %} 

{% block css_files %} 
<link rel='stylesheet' href='{% static 'blog/details.css' %}' /> 
{% endblock %} 

{% block content %}
<section id="summary">
  <h2>{{title}}</h2>
  <div>
    {% for tag in post_tags %}
    <span class='tag'>{{tag}}</span>
    {% endfor %}
  </div>
  <article>
    <img src="{{image.url}}" alt="{{title}}" />
    <address>By <a href="mailto:{{author.email}}">{{author|title}}</a></address>
    <div>Last Updated on <time>{{date|date:"M d, Y"}}</time></div>
  </article>
</section>
<main>
  {{content|linebreaks}}
</main>
{% endblock %}
