{% extends 'base.html' %} 
{% comment %}
<h1>{{blog_name|title}}</h1>
<p>{{text}}</p>
{% endcomment %} 

{%load static%} 

{% block title %}
Post detail 
{% endblock %} 

{% block css_files %} 
<link rel='stylesheet' href='{% static 'blog/details.css' %}' /> 
{% endblock %} 

{% block content %}
<section id="summary">
  <h2>Post Title</h2>
  <article>
    <img src="{% static 'blog/images/crusty_butt.jpg' %}" alt="Post Title" />
    <address>By Sean Tolbert</address>
    <div>Last Updated on <time>Julty 10th</time></div>
  </article>
</section>
<main>
  <p>
    Lore;asjnbdvejnvoeifnb'oeinb'eonb'ek
    'ngwo;ernb[oweirng'irng'pqrng'pewkrn'lweknb
    'qeppkrgn'werng'pewinb'ekbn'lrkgnbdflkjgnbskdljfbnslkdfjbvklsdjb
  </p>
  <p>
    Lore;asjnbdvejnvoeifnb'oeinb'eonb'ek
    'ngwo;ernb[oweirng'irng'pqrng'pewkrn'lweknb
    'qeppkrgn'werng'pewinb'ekbn'lrkgnbdflkjgnbskdljfbnslkdfjbvklsdjb
  </p>
  <p>
    Lore;asjnbdvejnvoeifnb'oeinb'eonb'ek
    'ngwo;ernb[oweirng'irng'pqrng'pewkrn'lweknb
    'qeppkrgn'werng'pewinb'ekbn'lrkgnbdflkjgnbskdljfbnslkdfjbvklsdjb
  </p>
</main>
{% endblock %}
