{% extends 'base.html' %} 

{%load static%} 

{% block title %}
{{post.title}}
{% endblock %} 

{% block css_files %} 
<link rel='stylesheet' href='{% static 'blog/details.css' %}' /> 
{% endblock %} 

{% block content %}
<section id="summary">
  <h2>{{title}}</h2>
  <article>
    {% comment %} <img src="{% static 'blog/images/'|add:post.image %}" alt="{{post.title}}" /> {% endcomment %}
    <address>{{author|title}}</address>
    {% comment %} <div>Last Updated on <time>{{date|date:"M d, Y"}}</time></div> {% endcomment %}
  </article>
</section>
<main>
  {{content|linebreaks}}
</main>
{% endblock %}
